/*@font-face {*/
/*    font-family: 'MyWebFont';*/
/*    src: url('webfont.eot'); !* IE9 Compat Modes *!*/
/*    src: url('webfont.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
/*    url('webfont.woff2') format('woff2'), !* Super Modern Browsers *!*/
/*    url('webfont.woff') format('woff'), !* Pretty Modern Browsers *!*/
/*    url('webfont.ttf')  format('truetype'), !* Safari, Android, iOS *!*/
/*    url('webfont.svg#svgFontName') format('svg'); !* Legacy iOS *!*/
/*}*/
@font-face {
    font-family: 'UniNeue-Bold';
    src: url('../fonts/UniNeue-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'WorkSans-Medium';
    src: url('../fonts/WorkSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('../fonts/WorkSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'WorkSans-Bold';
    src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
}
html, body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'WorkSans', sans-serif;
    color: #1A2332;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main{
    display: block;
}
table{
    border-collapse: collapse;
}
button, input, textarea, a, div{
    outline: none;
}
button, input, textarea{
    padding: 0;
    border: none;
}
button{
    background-color: transparent;
}
button:hover{
    cursor: pointer;
}
img, svg{
    display: block;
    max-width: 100%;
}
a, svg, button{
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1{
    font-family: 'UniNeue-Bold', sans-serif;
    font-size: 48px;
    line-height: 48px;
}
h2{
    font-weight: normal;
    font-family: 'UniNeue-Bold', sans-serif;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
input[type="checkbox"],
input[type="radio"],
input[type="file"]{
    display: none;
}
input::-webkit-input-placeholder {
    color: #7E848C;
}
input::-moz-placeholder {
    color: #7E848C;
}
input:-ms-input-placeholder {
    color: #7E848C;
}
input:-moz-placeholder {
    color: #7E848C;
}
.inp, .txtarea{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    border: 1px solid rgba(26, 35, 50, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #1A2332;
}
.inp{
    height: 58px;
}
.inp:focus{
    border: 1px solid #004FD1;
}
.txtarea{
    height: 116px;
    padding: 20px;
    font-family: 'WorkSans', sans-serif;
    resize: none;
}
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #004FD1;
}
.btn:hover{
    box-shadow: 0 10px 40px rgba(0, 79, 209, 0.8);
}
.btn-regular{
    width: 100%;
    max-width: 250px;
}
.btn-filter{
    width: 100%;
    max-width: 165px;
}
.btn-blank{
    border: 1px solid #004FD1;
    background-color: #fff;
    color: #004FD1;
}
.btn-blank:hover{
    border: 1px solid #004FD1;
    background-color: #004FD1;
    color: #FFFFFF;
}
.label-checkbox{
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    line-height: 16px;
}
.label-checkbox:before,
.label-checkbox:after{
    content: "";
    position: absolute;
}
.label-checkbox:before{
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #A2A4AB;
    background-color: #FFFFFF;
}
.inp-checkbox:checked + .label-checkbox:before{
    background-color: #004FD1;
    border: 1px solid #004FD1;
}
.inp-checkbox:checked + .label-checkbox:after{
    left: 8px;
    top: 3px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.label-checkbox a{
    padding-bottom: 2px;
    color: #1A2332;
    border-bottom: 1px dashed #1A2332;
}